section[title="aboutus"] {
    background-color: #87dcd0; 
    padding: 3.75em 3em; 
    border-radius: 1.25em; 
    text-align: center;
    margin: 5em 2em;
}

section[title="aboutus"] h4 {
    font-size: 0.9em;
    color: #6d6d6d;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
    max-width: 90%;
    margin: 0;
}

section[title="aboutus"] h5 {
    font-size: 2.2em;
    font-weight: bold;
    color: #000;
    line-height: 110%;
    margin-bottom: 1em;
    max-width: 95%;
    text-align: left;
    padding-right: 30%;
    margin-top: 0.5em;
}

section[title="aboutus"] h5 strong {
    font-weight: bolder;
}

.partner-logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 1.25em;
    justify-content: center; 
    align-items: center;
    margin-bottom: 3em;
    padding-left: 7%;
    padding-right: 7%;
}

.partner-logos img {
    max-width: 90%; 
    height: auto;
    object-fit: contain; 
    justify-self: center; 
    align-self: center; 
}

.partner-logos img[title="adif"] {
    height: 95%;
}


section[title="aboutus"] p {
    font-size: 1.1em;
    color: #333;
    line-height: 140%;
    max-width: 90%;
    text-align: right;
    padding-left: 50%;

}
