#contact {
    padding: 2.5em 4em;
    border-radius: 0.625em;
    max-width: 100%;
    margin: 2.5em 1em;
}

#contact h5 {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: #333;
    margin-bottom: 1.875em;
    padding-left: 15%;
    padding-right: 15%;

}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875em;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-container {
    background-color: #f4f4f6;
    padding: 3em 2em 1.5em;
    border-radius: 0.625em;
    width: 100%;
    height: 90%;
}

.form-container label {
    display: block;
    margin-bottom: 0.625em;
    font-size: 1em;
    color: #333;
    font-weight: 400;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1.25em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    outline: none;
    background-color: #f9f9f9;
    width: 95%;
    letter-spacing: 0.063em;
    font-family: 'Work Sans', sans-serif;
}

.form-container textarea {
    height: 8em;
    resize: none;
}

.form-container input:focus,
.form-container textarea:focus {
    border-color: #007acc;
    background-color: #ffffff;
}

.captcha-container {
    margin: 1.25em 0;
    display: flex;
    justify-content: left;
}

.radio-container {
    margin: 0.938em 0;
    font-size: 0.9em;
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.radio-container input[type="radio"] {
    width: 20%;
    height: 20%;
}

.radio-container label a {
    color: #007acc;
    text-decoration: none;
}

.radio-container label a:hover {
    text-decoration: underline;
}

.form-container button {
    display: block;
    width: 100%;
    padding:  0.8em 0.625em;
    font-size: 1em;
    color: #000000;
    background-color: #83dcd2;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
}

.form-container button:hover {
    background-color: #2bc790;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    padding-left: 20%;
}

.image-container img {
    width: 100%;
    height: 95%;
    border-radius: 0.625em;
}


