
div[title="menuProcess"], div[title="menuBenefits"], div[title="menuFeatures"], div[title="menuAboutUs"] {
    padding: 0.5em 1.5em 0.5em 0em;
}

div[title="menuFeatures"] {
    padding-left: 0.5em;
}

div[title="menuAboutUs"] {
    padding-right: 1.5em;
    white-space: nowrap;
}

div[title="menuAboutUs"] a[title="menuAboutUsRel"] {
    padding-left: 0.5em;
}


div[title="EsEn"] a[name="langEN"]{
    font-weight: bold;
}

div[title="EsEn"] a[name="langES"]{
    font-weight: 400;
}


